<a href="/products/tissue-sleeve?variant=48393861267640">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#2A2A2A] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861333176">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#7C7C7C] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861398712">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#C6C6C6] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861464248">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#C1AC88] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861529784">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#B1795D] x-rounded-full">
    </div>
</a>