<a href="/products/tissue-sleeve?variant=48393861300408">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#2A2A2A] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861365944">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#7C7C7C] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861431480">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#C6C6C6] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861497016">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#C1AC88] x-rounded-full">
    </div>
</a>
<a href="/products/tissue-sleeve?variant=48393861562552">
    <div class="x-w-[40px] x-h-[40px] x-bg-[#B1795D] x-rounded-full">
    </div>
</a>