<style>
    .main-rect {
        background: url({{ 'main-rect.jpeg' |  asset_img_url: "1967x1967" }});
        background-size: cover;
    }

    .main-square {
        background: url({{ 'main-square.jpeg' |  asset_img_url: "3000x3000" }});
        background-size: cover;
    }
</style>

<section class="x-bg-[#FFFFFF]">
    <div class="x-flex x-flex-row x-justify-center x-items-center x-max-w-[1440px] x-mx-auto x-gap-20 x-pt-20 x-pb-[104px]">

        <div class="x-flex x-flex-col x-gap-8 x-max-w-[474px]">
            <div class="x-flex x-flex-row x-justify-center">
                <div class="x-w-[440px] x-h-[392px] main-rect">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-12">
                <div class="x-flex x-flex-col x-gap-6">
                    <div class="x-flex x-flex-col x-gap-6">
                        <h1 class="x-font-lora x-font-light x-text-[36px] x-leading-[48px] x-text-[#3D3E49]">Rectangular Tissue Sleeve
                        </h1>
                        <p class="x-font-jost x-font-light x-text-[19px] x-leading-10 x-text-[#282828]">Each product is crafted with home and
                            office in mind, utilizing some of the
                            simplest innovations with extreme attention to detail. Follow our design journey and adopt one
                            of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-jost x-text-[18px] x-leading-7 x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-gap-4">
                            <label>
                                <input type="radio" name="rect-color" class="x-hidden x-peer" checked/>
                                <div class="x-w-10 x-h-10 x-bg-[#2A2A2A] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="rect-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#7C7C7C] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="rect-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#C6C6C6] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="rect-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#C1AC88] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="rect-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#B1795D] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="x-text-lg x-text-white x-bg-[#3D3E49] x-font-medium x-tracking-[3%] x-rounded-lg x-py-[18px]">
                    BUY
                </button>
            </div>
        </div>

        <div class="x-flex x-flex-col x-gap-8 x-max-w-[474px]">
            <div class="x-flex x-flex-row x-justify-center">
                <div class="x-w-[440px] x-h-[392px] main-square">
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-12">
                <div class="x-flex x-flex-col x-gap-6">
                    <div class="x-flex x-flex-col x-gap-6">
                        <h1 class="x-font-lora x-font-light x-text-[36px] x-leading-[48px] x-text-[#3D3E49]">Square Tissue Sleeve
                        </h1>
                        <p class="x-font-jost x-font-light x-text-[19px] x-leading-10 x-text-[#282828]">Each product is crafted with home and
                            office in mind, utilizing some of the
                            simplest innovations with extreme attention to detail. Follow our design journey and adopt one
                            of our designs for your favorite nooks.</p>
                    </div>
                    <div class="x-flex x-flex-col x-gap-[14px]">
                        <p class="x-font-jost x-text-[18px] x-leading-7 x-text-[#4F4F4F]">Available in all 5 colors.</p>
                        <div class="x-flex x-flex-row x-gap-4">
                            <label>
                                <input type="radio" name="square-color" class="x-hidden x-peer" checked/>
                                <div class="x-w-10 x-h-10 x-bg-[#2A2A2A] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="square-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#7C7C7C] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="square-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#C6C6C6] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="square-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#C1AC88] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                            <label>
                                <input type="radio" name="square-color" class="x-hidden x-peer" />
                                <div class="x-w-10 x-h-10 x-bg-[#B1795D] x-rounded-full peer-checked:x-ring-2 peer-checked:x-ring-gray-400 x-border-2 x-border-white">
                               </div>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="x-text-lg x-text-white x-bg-[#3D3E49] x-font-medium x-tracking-[3%] x-rounded-lg x-py-[18px]">
                    BUY
                </button>
            </div>
        </div>
    </div>
</section>
