<section class="x-bg-[#D2CBB8]">
    <div class="x-flex x-flex-row x-justify-center x-items-center x-max-w-[1440px] x-mx-auto x-py-[88px]">
        <div class="x-text-center x-flex x-flex-col x-gap-[16px]">
            <h1 class="x-font-lora x-text-[#3D3E49] x-font-light x-text-[24px] mdt:x-text-[40px] x-leading-[32px] mdt:x-leading-[48px]">Wear your heart on your sleeve <br>when you see this sleeve</h1>
            <div class="x-text-[#3D3E49] x-flex x-flex-row x-justify-center x-items-center x-gap-[14px]">
                <a href="" class="x-flex"><i class='bx bxl-instagram x-text-[26px]'></i></a>
                <a href="" class="x-flex"><i class='bx bxl-facebook-circle x-text-[26px]'></i></a>
                <a href="" class="x-flex"><i class='bx bxl-pinterest x-text-[26px]'></i></a>
            </div>
            <p class="x-text-[#282828] x-font-light x-text-[18px] mdt:x-text-[24px] x-leading-[24px] mdt:x-leading-[32px]">Share the joy on social</p>
        </div>
    </div>
</section>
