<section class="bg-white">
    <div class="flex flex-row justify-center gap-7 py-[104px]">
        <div class="flex flex-col gap-10 items-center w-[287px]">
            <div>
                {% render 'a-feature-smooth' %}
            </div>
            <div class="flex flex-col gap-[14px] text-center">
                <h1 class="font-lora font-light text-[28px] leading-[32px]">Smooth</h1>
                <p class="font-light text-[20px] leading-[28px]">The ultimate 9.5&quot; x 5&quot; x 5&quot; cube tissue box sleeve</p>
            </div>
        </div>
        <div class="flex flex-col gap-10 items-center w-[287px]">
            <div>
                {% render 'a-feature-neutral' %}
            </div>
            <div class="flex flex-col gap-[14px] text-center">
                <h1 class="font-lora font-light text-[28px] leading-[32px]">Neutral</h1>
                <p class="font-light text-[20px] leading-[28px]">Neutral, complementing color palette</p>
            </div>
        </div>
        <div class="flex flex-col gap-10 items-center w-[287px]">
            <div>
                {% render 'a-feature-eco' %}
            </div>
            <div class="flex flex-col gap-[14px] text-center">
                <h1 class="font-lora font-light text-[28px] leading-[32px]">Eco friendly</h1>
                <p class="font-light text-[20px] leading-[28px]">Eco friendly mission</p>
            </div>
        </div>
        <div class="flex flex-col gap-10 items-center w-[287px]">
            <div>
                {% render 'a-feature-ergonomic' %}
            </div>
            <div class="flex flex-col gap-[14px] text-center">
                <h1 class="font-lora font-light text-[28px] leading-[32px]">Ergonomic</h1>
                <p class="font-light text-[20px] leading-[28px]">Travel friendly size with one <br>step pop-up setup</p>
            </div>
        </div>
    </div>
</section>