<style>
    .sleek-simple-extraordinary-img {
        background: url({{ 'multi-row-img-1.png' |  asset_img_url: '1000x1000' }});
        background-size: 100%;
        background-position: 50% 90%;
    }

    .gift-essentials-img {
        background: url({{ 'multi-row-img-2.png' |  asset_img_url: '1000x1000' }});
        background-size: 110%;
        background-position: 50% 100%;
    }

    .switch-over-img {
        background: url({{ 'multi-row-img-3.png' |  asset_img_url: '1000x1000' }});
        background-size: 100%;
        background-position: 50% 70%;
    }
</style>

<section class="x-bg-[#FFFFFF]">
    <div class="x-flex x-flex-col x-justify-center x-items-center x-max-w-[1440px] x-mx-auto">
        <div class="x-flex x-flex-row x-justify-center x-items-center x-bg-[#F6EEE1] x-w-full">
            <div class="x-w-1/2 sleek-simple-extraordinary-img x-h-[566px]">
            </div>
            <div class="x-w-1/2 x-pl-[56px]">
                <div class="x-w-[560px] x-flex x-flex-col x-gap-6">
                    <h1 class="x-font-lora x-font-light x-text-[40px] x-leading-[48px]">Sleek. Simple. Extraordinary</h1>
                    <p class="x-font-light x-text-[24px] x-leading-[32px]">Ditch your clunky, breakable tissue covers for something better.</p>
                </div>
            </div>
        </div>
        <div class="x-flex x-flex-row-reverse x-justify-center x-items-center x-bg-[#ECEFF2] x-w-full">
            <div class="x-w-1/2 gift-essentials-img x-h-[566px]">
            </div>
            <div class="x-w-1/2 x-flex x-flex-row x-justify-end x-pr-[56px]">
                <div class="x-w-[560px] x-flex x-flex-col x-gap-6">
                    <h1 class="x-font-lora x-font-light x-text-[40px] x-leading-[48px]">Gift Essentials.</h1>
                    <p class="x-font-light x-text-[24px] x-leading-[32px]">Choose a housewarming gift, get well wish, <br>or self-care purchase.</p>
                </div>
            </div>
        </div>
        <div class="x-flex x-flex-row x-justify-center x-items-center x-bg-[#F6E6DE] x-w-full">
            <div class="x-w-1/2 switch-over-img x-h-[566px]">
            </div>
            <div class="x-w-1/2 x-pl-[56px]">
                <div class="x-w-[560px] x-flex x-flex-col x-gap-6">
                    <h1 class="x-font-lora x-font-light x-text-[40px] x-leading-[48px]">Switch Over.</h1>
                    <p class="x-font-light x-text-[24px] x-leading-[32px]">Small changes make a big impact.</p>
                </div>
            </div>
        </div>
    </div>
</section>
