<section>
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row justify-center items-center gap-10">
            <div>IMAGE</div>
            <div>CONTENT</div>
        </div>
        <div class="flex flex-row-reverse justify-center items-center gap-10">
            <div>IMAGE</div>
            <div>CONTENT</div>
        </div>
        <div class="flex flex-row justify-center items-center gap-10">
            <div>IMAGE</div>
            <div>CONTENT</div>
        </div>
    </div>
</section>