<section class="x-bg-white">
    <div class="x-hidden lg:x-flex x-flex-row x-justify-center x-gap-7 x-py-[104px]">
        <div class="x-flex x-flex-col x-gap-10 x-items-center x-w-[287px]">
            <div>
                {% render 'a-feature-smooth' %}
            </div>
            <div class="x-flex x-flex-col x-gap-[14px] x-text-center">
                <h1 class="x-font-lora x-font-light x-text-[28px] x-leading-[32px]">Smooth</h1>
                <p class="x-font-light x-text-[20px] x-leading-[28px]">The ultimate 9.5&quot; x 5&quot; x 5&quot; cube tissue box sleeve</p>
            </div>
        </div>
        <div class="x-flex x-flex-col x-gap-10 x-items-center x-w-[287px]">
            <div>
                {% render 'a-feature-neutral' %}
            </div>
            <div class="x-flex x-flex-col x-gap-[14px] x-text-center">
                <h1 class="x-font-lora x-font-light x-text-[28px] x-leading-[32px]">Neutral</h1>
                <p class="x-font-light x-text-[20px] x-leading-[28px]">Neutral, complementing color palette</p>
            </div>
        </div>
        <div class="x-flex x-flex-col x-gap-10 x-items-center x-w-[287px]">
            <div>
                {% render 'a-feature-eco' %}
            </div>
            <div class="x-flex x-flex-col x-gap-[14px] x-text-center">
                <h1 class="x-font-lora x-font-light x-text-[28px] x-leading-[32px]">Eco friendly</h1>
                <p class="x-font-light x-text-[20px] x-leading-[28px]">Eco friendly mission</p>
            </div>
        </div>
        <div class="x-flex x-flex-col x-gap-10 x-items-center x-w-[287px]">
            <div>
                {% render 'a-feature-ergonomic' %}
            </div>
            <div class="x-flex x-flex-col x-gap-[14px] x-text-center">
                <h1 class="x-font-lora x-font-light x-text-[28px] x-leading-[32px]">Ergonomic</h1>
                <p class="x-font-light x-text-[20px] x-leading-[28px]">Travel friendly size with one <br>step pop-up setup</p>
            </div>
        </div>
    </div>

    <div class="x-flex lg:x-hidden x-flex-col x-gap-[40px] x-py-[64px]">
        <div class="x-flex x-flex-row x-gap-[16px] mdt:x-gap-[40px] x-text-center x-justify-center">
            <div class="x-w-[163px] mdt:x-w-[205px] x-flex x-flex-col x-gap-[20px]">
                <div class="x-flex x-justify-center">
                    {% render 'a-feature-smooth' %}
                </div>
                <div class="x-flex x-flex-col x-gap-[8px]">
                    <h1 class="x-font-light x-text-[20px] x-leading-[24px] x-text-[#3D3E49]">
                        Smooth
                    </h1>
                    <p class="x-font-light x-text-[16px] mdt:x-text-[18px] x-leading-[22px] x-tracking-[-0.3px] x-text-[#282828]">
                        The ultimate 9.5&ldquo; x 5&ldquo; x 5&ldquo; cube tissue box sleeve
                    </p>
                </div>
            </div>

            <div class="x-w-[163px] mdt:x-w-[205px] x-flex x-flex-col x-gap-[20px]">
                <div class="x-flex x-justify-center">
                    {% render 'a-feature-neutral' %}
                </div>
                <div class="x-flex x-flex-col x-gap-[8px]">
                    <h1 class="x-font-light x-text-[20px] x-leading-[24px] x-text-[#3D3E49]">
                        Neutral
                    </h1>
                    <p class="x-font-light x-text-[16px] mdt:x-text-[18px] x-leading-[22px] x-tracking-[-0.3px] x-text-[#282828]">
                        Neutral, complementing color palette
                    </p>
                </div>
            </div>
        </div>
        <div class="x-flex x-flex-row x-gap-[16px] mdt:x-gap-[40px] x-text-center x-justify-center">
            <div class="x-w-[163px] mdt:x-w-[205px] x-flex x-flex-col x-gap-[20px]">
                <div class="x-flex x-justify-center">
                    {% render 'a-feature-eco' %}
                </div>
                <div class="x-flex x-flex-col x-gap-[8px]">
                    <h1 class="x-font-light x-text-[20px] x-leading-[24px] x-text-[#3D3E49]">
                        Eco friendly
                    </h1>
                    <p class="x-font-light x-text-[16px] mdt:x-text-[18px] x-leading-[22px] x-tracking-[-0.3px] x-text-[#282828]">
                        Eco friendly <br>mission
                    </p>
                </div>
            </div>

            <div class="x-w-[163px] mdt:x-w-[205px] x-flex x-flex-col x-gap-[20px]">
                <div class="x-flex x-justify-center">
                    {% render 'a-feature-ergonomic' %}
                </div>
                <div class="x-flex x-flex-col x-gap-[8px]">
                    <h1 class="x-font-light x-text-[20px] x-leading-[24px] x-text-[#3D3E49]">
                        Ergonomic
                    </h1>
                    <p class="x-font-light x-text-[16px] mdt:x-text-[18px] x-leading-[22px] x-tracking-[-0.3px] x-text-[#282828]">
                        Travel friendly size with one step pop-up setup
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
