<style>
    .hero-bg {
        background-color: black;
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
        url({{ 'bg-hero.jpeg' | asset_img_url: "1415x1070" }});
        background-size: 100%;
        background-position: 50% 80%;
    }
</style>

<section>
    <div class="x-flex x-flex-row x-justify-center x-items-end hero-bg x-h-[700px] x-pb-40">
        <div class="x-flex x-flex-col x-font-lora x-text-[56px] x-text-white x-text-center x-gap-[28px]">
            <div class="x-flex x-flex-row x-justify-center x-gap-8">
                <div>
                    {% render 'a-hero-house' %}
                </div>
                <div>
                    {% render 'a-hero-desktop' %}
                </div>
            </div>
            <div class="x-leading-[64px] x-font-light">
                ERGONOMIC DESIGN FOR <br>HOME AND OFFICE
            </div>
        </div>
    </div>
</section>