<section class="x-bg-[#3D3E49]">
    <div class="x-flex x-flex-row x-justify-center x-items-center x-text-[rgb(224,224,224)] x-max-w-[1440px] x-mx-auto x-p-[104px] x-pt-[80px]">
        <div class="x-flex x-flex-row x-justify-between x-w-full">
            <div class="x-flex x-flex-col x-gap-[32px]">
                <div>
                    {% render 'a-crate-logo-footer' %}
                </div>
                <div class="x-flex x-flex-col x-gap-[8px] x-text-[14px] x-leading-[20px]">
                    <p>© 2024. All rights reserved.</p>
                    <div class="x-flex x-flex-row x-gap-[16px]">
                        <a href="">Terms</a>
                        <a href="">Privacy</a>
                        <a href="">Return Policy</a>
                    </div>
                </div>
            </div>

            <div class="x-flex x-flex-row x-gap-[80px]">
                <div class="x-flex x-flex-col x-gap-[16px]">
                    <h1 class="x-font-jost x-text-[#E0E0E0]">SHOP</h1>
                    <div class="x-flex x-flex-col x-gap-[8px]">
                        <a href="">Rectangular</a>
                        <a href="">Square</a>
                    </div>
                </div>
                <div class="x-flex x-flex-col x-gap-[16px]">
                    <h1 class="x-font-jost x-text-[#E0E0E0]">USERS</h1>
                    <div class="x-flex x-flex-col x-gap-[8px]">
                        <a href="">Account</a>
                        <a href="">Orders</a>
                        <a href="">Saved</a>
                    </div>
                </div>
                <div class="x-flex x-flex-col x-gap-[16px]">
                    <h1 class="x-font-jost x-text-[#E0E0E0]">COMPANY</h1>
                    <div class="x-flex x-flex-col x-gap-[8px]">
                        <a href="">Story</a>
                        <a href="">Blog</a>
                        <a href=""><i class='bx bxl-instagram x-text-[20px]'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
